@media screen and (min-width: 768px) and (max-width: 822px) {

    .menudropdown {}

    .concentration {
        .coreWrapper {
            flex-direction: row;
            gap: 10px;
        }

        .headingsLeft {
            max-width: 60%;
        }

    }

    .studentJourneyWrap {
        overflow-x: scroll;

        .gridBox {
            min-width: 50%;
            min-height: unset;
        }
    }

    .selectingStudents .cardsWrapper .gridBox {
        min-height: 370px;
    }

    .masterRight .masterImage {
        max-width: 70%;
    }

    .stickymenu {
        top: 2.3rem;
    }

    .heroWrapper .left {
        width: 100%;
        max-width: 80%;
    }

    .bannerText {
        font-size: 3rem;
    }

    .placementWrap {
        padding: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .placementRight {
        width: 100%;
    }

    .heroWrapper .right {
        width: 100%;
        max-width: 70%;
    }

    .pgphighlight .footerLinkRight {
        gap: 20px;
    }

    .fresherBanner .fresherBannerWrap {
        gap: 90px;
        justify-content: space-between;
    }


    .coreWrapper {
        flex-direction: column;
        gap: 30px;
    }

    .headingsLeft {
        width: 100%;
        max-width: 100%;
    }

    .coreWrapper .headingsLeft h2 {
        width: 100%;
        max-width: 100%;
    }

    .headingsLeft .bannerSubheading {
        max-width: 100%;
    }

    .uniqueClass .headingWrap .headingsLeft {
        width: 100%;
        max-width: 70%;
    }

    .inclasstabs li {
        min-width: 411px;
    }

    .inClassBoxCHild1 {
        max-width: 100%;
    }

    .inclassBox {
        gap: 20px;
    }

    .outclassboxWrapper {
        overflow: auto;
        flex-wrap: nowrap;
    }

    .outclassBox {
        min-width: 60%;
    }

    .masterleft {
        width: 100%;
        max-width: 85%;
    }

    .masterRight {
        width: 100%;
        max-width: 77%;
    }


    .masterflex {
        flex-direction: column;
        gap: 20px;
    }

    .tab-mini-ughighlight .masterleft {
        width: 100%;
    }

    .tab-mini-ughighlight .masterflex {
        gap: 40PX;
        align-items: flex-start;
    }

    .tab-mini-ughighlight .counsellorRight {
        display: none;
    }

    .ughighlight .contenttxt {
        width: 100%;
    }

    .breakTabHidden {
        display: none;
    }

    .applicationTableWrap {
        overflow-x: auto;
    }

    .master-table.applicationprocessWrap th,
    .master-table.applicationprocessWrap td {
        text-wrap: nowrap;
    }

    .master-table.applicationprocessWrap th {
        padding: 16px 32px;
    }

    .master-table.applicationprocessWrap td {
        padding: 20px 32px 15px;
    }

    .applicationprocessWrap .gradientButton {
        margin-left: -20px;
        margin-top: 10px;
    }

    .feeProcess #growingDiv {
        left: calc(36.67% - 0px);
    }

    .lateralBreaker {
        gap: 35px;
        align-items: flex-start;
        flex-direction: column;
    }

    .lateralBreaker .backgroundVector {
        width: 54%;
    }

    .lateralBreaker .gradientButton {
        margin-top: 30px !important;
    }

    .feeProcessContainer .rightSection::before {
        left: 6.2%;
    }

    .tab-mini-ughighlight .fellowshipVideoWrapper .gradientButton {
        margin-top: 20px !important;
    }

    .concentration .coreWrapper {
        gap: 0px;
    }

    .outclassBox {
        min-width: 400px;
    }

    .outclassboxWrapper {
        overflow: auto;
        flex-wrap: unset;
    }

    .schedule .scheduleImgBox {
        overflow-x: auto;
    }

    .schedule .scheduleImgBox img {
        min-width: 1050px;
    }

    .selectingStudents .cardsWrapper.new .gridBox {
        min-width: 40%;
    }

    .selectingStudents .cardsWrapper {
        overflow-x: auto;
    }

    .collaboration .headingWrap {
        margin-bottom: unset;
    }

    .ugcareerprospect .collaboration .headingWrap {
        margin-bottom: 30px;
    }

    .newFeeouter .feeDetailBoxes{
        flex-wrap: wrap;
    }

    .feeDetailBox{
        max-width: 45%;
    }
    .feeDetailContainer.active{
    flex-direction: column;
    }
    .cohortwrapper .box2col {
        max-width: 45%;
    }

    .cohortwrapper{
        gap: 40px;
    }
    .newFeeouter{
        padding: 15px;
    }

    .mastersBoxWrapper .masterBox {
        width: 30% !important;
    }

    .careerPotential .educationJourney .boxwrapper {
        align-items: flex-start;
    }

    .futureGroup {
        max-width: 75%;
    }

    .futureReadyWrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .headingRight.mob-hide {
        display: none;
    }

    .educationright .headWrap {
        width: 100%;
    }

    .coreWrapper .box {
        width: 100%;
    }

    .inclassSection .inclassFlex {
        width: 45%;
    }

    .boxiBox {
        max-width: 100%;
    }

    .container {
        padding-inline: 32px;
    }

    .placementLeft {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .studentClub .bussinessclub .learningRight {
        width: 100%;
    }

    .bussinessclub .content-section .content {
        flex-direction: column;
    }

    .bussinessclub .content-section {
        overflow: hidden;
    }


    .ourteambanner {
        padding: 15px;
        background-size: contain;
        background-position: 180% 0;
    }

    .masters .masterRight::after {
        display: none;
    }

    .flexbox.flexwrap {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .headingWrap.masterleft {
        width: 100%;
        max-width: 100%;
    }

    .tab-mini-ughighlight .masterRight {
        width: 100%;
        max-width: 100%;
    }

    .tab-mini-ughighlight .masterRight>img {
        width: 100%;
        max-width: 70%;
    }

    .supportWrap .masterImage {
        width: 70%;
    }

    .supportWrap .headingWrap.masterleft {
        width: inherit;
    }

    .ugbannerWrap {
        padding: 20px;
    }

    .coreWrapper {
        align-items: flex-start;
    }

    .teaching .tabinnerleft {
        width: 100%;
    }

    .cohortNewSection {
        .content-section {
            overflow: auto;
        }

        .cohortTableRow td {
            min-width: 147px;
        }

        .content-section::-webkit-scrollbar-thumb {
            background: var(--grey3);
        }

        .cohortCareerPara,
        .cohortYear {
            text-wrap: nowrap;
        }

        .cohortTableRow td {
            text-wrap: nowrap;
        }

        .cohortCareerPara {
            margin-bottom: 30px;
        }

        .cohortYear {
            padding: 20px 20px 20px 0px !important;
        }
    }

    .teaching .masterImage {
        width: 21rem;
    }

    .WhiteTabs .learningRight .box {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .WhiteTabs .learningRight .box {
        align-items: flex-start;
    }

    .muafterCareer .seondtabs {
        gap: 20px;
    }

    .ourteambanner .teamContentWrap {
        max-width: 60%;


        br {
            display: none;
        }
    }

    .highSchoolPreviousSliderWrap {
        max-width: 100%;
    }

    .highPreviousWrapper {
        flex-direction: column;
    }

    .heroWrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .heroWrapper .left {
        width: 100%;

    }


    .hostelTabView {
        .tabViewHide {
            display: none;
        }

        .heroWrapper .left h1 {
            width: 100%;
            max-width: 50%;
        }

        .knowledgeHub .learningWrap {
            min-height: unset;
        }

        .featureWrapper {
            flex-direction: column;
            align-items: flex-start;
        }

        .featAmenities .getpreppedList {
            width: 100%;
            max-width: 100%;
        }

        .featureWrapper .rightImg {
            width: 100%;
            /* max-width: 430px; */
        }

        .backgroundVector {
            width: 100%;
            max-width: 343px;
        }

        .subText {
            font-size: 14px;
        }

        .sectionHeading {
            font-size: 28px;
        }

        .mutipleFormWrappper .formsWraps {
            flex-direction: column;
        }

        .registerbox {
            width: 100%;
            max-width: 86%;
            padding: 40px 20px;
        }

        .iconButton {
            padding: 16px 31px;
            font-size: 16px;
        }

        .iconButton svg {
            width: 100%;
            max-width: 24px;
        }

        .knowledgeHub .learningRight {
            width: 100%;
            max-width: 60%;
        }

        .newCommonArea .masterImage>img {
            min-height: 247px;
        }

        .programmeHeading {
            font-size: 40px;
            font-family: "go-bold";
        }
    }

    .heroWrapper .left h1 {
        width: 100%;
        max-width: 85%;
    }


    .companiesFlexRight {
        display: none;
    }

    .engagementsAtUnion .headingWrap {
        max-width: 100%;
        width: 100%;
    }

    .companiesFlexLeft {
        max-width: 100%;
    }

    .contentCover:not(:last-child)::before {
        left: 2.5%;
    }

    .heroWrapper .left p {
        width: 100%;
        max-width: 77%;
    }

    .heroRightButtons {
        margin-top: 30px !important;
    }

    .heroWrapper .heroright {
        max-width: 100%;
    }

    .newEventWrapper {
        flex-direction: row;
        gap: 16px;
    }

    .leftFilters {
        padding: 17px 12px;
    }

    .leftFilters {
        width: 100%;
        max-width: 175px;
    }

    .newEventWrapper .filterWrap {
        flex-direction: column;
        gap: 5px;
    }

    .grid-event-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .newEventsShowcase .leftFilters {
        z-index: 100;
    }

    .navigationWrapper ul {
        overflow: auto;
    }

    .navigationWrapper ul li {
        min-width: max-content;
    }

    .heroWrapper .heroright .masterImage>img {
        max-width: 100%;
        max-height: 100%;
    }

    .campusTabView {
        .headingWrapperButton h6 {
            width: 100%;
            max-width: 59%;
            font-size: 14px;
            font-family: "go-regular";
            color: var(--grey18) !important;
            line-height: 21px;
        }

        .gradientButton .iconButton {
            padding: 12px;
            font-size: 14px;
        }

        .button {
            font-family: "go-regular";
        }

        .classSessionWrap {
            padding-bottom: 40px;
        }

        .sustainability .flexbox {
            flex-direction: column;
            align-items: flex-start;
            gap: 36px;
        }

        .box {
            width: 100%;
            max-width: 74%;
        }

        .leedScore .sustaininner {
            width: 100%;
            max-width: 100%;
        }

        .reality .headingWrap {
            align-items: flex-start;
        }

        .headingWrap .headingsLeft {
            width: 100%;
            max-width: 43%;
        }

        .sectionHeading {
            font-size: 28px;
            font-family: 'go-bold';
        }

        .reality .headingWrap .headText {
            color: var(--grey10);
        }

        .headingsRight {
            width: 100%;
            max-width: 400px;
        }

        .knowledgeHub .learningRight {
            width: 100%;
            max-width: 76%;
        }

        .courseName {
            padding: 10px 0;
        }

        .knowledgeHub .courseName:not(:last-child) {
            border-bottom: 1px solid var(--grey12);
        }

        .nearbyBoxWrapper {
            min-height: 260px;
            padding: 16px 24px;
        }

        .nearbyBoxWrapper p {
            font-size: 14px;
        }

        .nearbycontentWrap {
            min-width: unset;
        }

        .nearbyBoxWrapper .rightbox {
            width: 100%;
            max-width: 55%;
        }

        .nearbyBoxWrapper .leftbox {
            gap: 30px;
        }

        .masterImage>img {
            min-height: 179px;
        }

        .nearbyBoxWrapper .muRestraunt {
            flex-direction: column;
            gap: 30px;
        }

        .muRestraunt .col1 {
            gap: 30px;
        }

        .muRestraunt .col2 {
            gap: 30px;
        }

        .collaboration .headingWrap {
            margin-bottom: 16px;
        }

        .rolescontent .left {
            width: 100%;
            max-width: 54%;
        }

        .becomeamaster .rolescontent .right {
            width: 100%;
            max-width: 41%;
        }

        .rolesandresp .ourteambanner {
            background: url(../images/image437701.webp) var(--black);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: right;
            padding: 20px;
        }

        .collaboration .headingWrap .caseEmergencyHeading {
            font-size: 18px;
        }

        .txtWrapper h6 {
            font: 13px "go-regular";
        }

        .txtWrapper p {
            font: 13px "go-regular";
        }

        .txtBox>img {
            width: 100%;
            height: 100%;
            max-width: 30px;
            max-height: 30px;
        }

        .contactWrapper {
            gap: 20px;
        }

        .highPreviousWrapper .mastersRoaster {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
        }

        .roastersDetail {
            max-width: 45%;
        }

        .highPreviousYrHighlights .nav-arrow {
            margin-top: 28px;
        }

        .programmeHeading {
            font-size: 40px;
            font-family: "go-bold"
        }
    }

    .studentClubTabView {
        .programmeHeading {
            font-size: 40px;
            font-family: "go-bold";
        }

        .courseName img {
            top: 27%;
        }

        .newCultureWrap {
            gap: 20px;


        }

        .datetimeWrapper {
            align-items: flex-start;
            flex-direction: column;
        }

        .bussinessclub .faqtabs {
            display: flex;
            gap: 35px;
            overflow-x: scroll;
        }



        .bussinessclub .learningLeft {
            max-width: 100%;
            flex-direction: row;
        }

        .nearbyBoxWrapper {
            padding: 20px;
        }

        .tabViewImageHIde {
            display: none;
        }

        source {
            width: 704px;
            height: 290px;
        }

        .fellowshipLeft .subText {
            margin-top: 8px;
        }

        .newWidthBox img {
            min-height: 190px;
        }

        .nearbyBoxWrapper .rightbox {
            max-width: 50%;
        }

        /* .gradientUnderline::after{
            display: none;
        } */
        .newGradientBox {
            position: relative;
        }

        .newGradientBox h4::after {
            content: "";
            position: absolute;
            bottom: -39%;
            left: 0;
            width: 100%;
            background: url(../images/gradientUnderlineThin.svg);
            background-repeat: no-repeat;
            height: 100%;
            z-index: -1;
        }

        .studentMainWrapper {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
        }

        .fellowshipLeft .gradientButton {
            margin-top: 20px !important;
        }

        .fellowshipVideoWrapper {
            padding: 20px;
            max-width: 100%;
        }

        .fellowshipRight {
            width: 100%;
            max-width: 332px;
        }

        .textgreyActivity {
            font-size: 13px;
        }

        .sectionHeading {
            font-size: 28px;
            line-height: 36px;
        }

        .gradientUnderline::after {
            bottom: -54%;
        }

        .commiteeFuture .learningLeft {
            max-width: 256px;
        }

        .learningRight .subText {
            font-size: 13px;
        }

        .navigationWrapper.upcomingNew-Events ul {
            min-width: max-content;
        }

        .learningLeft .tabs li {
            font: 14px "go-regular";
            min-width: max-content;
            border: none;
        }

        .businessLeftBox p {
            font: 13px "go-regular";
            margin-top: 8px !important;
        }

        .bussinessclub .boxNewWidth {
            width: 105%;
        }

        .gradientUnderlineThin::after {
            width: 58%;
        }

        .businessLeftBox h4 {
            font-size: 16px;
        }

        .commiteeFuture .learningWrap {
            gap: 45px;
        }

        .studentWrapperOne {
            width: 100%;
            max-width: 100%;
        }

        .studentWrapperOne .subHeading {
            width: 100%;
            max-width: 63%;
        }

        .studentJourney .studentPercentWrap {
            gap: 60px;
            justify-content: unset;
        }

        .studentJourney .studentPercentageBox {
            width: 100%;
            max-width: 23%;
        }

        .studentPercentageBox h4 {
            font: 24px "go-bold";
        }
    }




    .getPreppedContent {
        flex-direction: column;
        gap: 40px;
    }

    .heroWrapper .heroright .masterImage>img {
        max-width: 100%;
        min-height: 100%;
    }

    .heroWrapper .heroright::after {
        display: none;
    }

    .boardNewLinkedin .newClassWrapper {
        flex-direction: column;
    }

    .newClassWrapper .newclassLeft {
        max-width: 100%;
    }

    .opportunityWrapper .masterBox {
        max-width: 209px;
    }

    .masterImage:hover>img {
        scale: 1;
    }

    .mutipleFormWrappper .formsWraps {
        flex-direction: column;
        gap: 30px;
    }

    .applyleft {
        width: 100%;
    }

    .formsWraps .registerbox {
        width: 100%;
    }


    .companies .ourteambanner {
        max-width: 100%;
    }

    .ourteambanner .sectionHeading {
        font-size: 26px;
    }

    .newEventWrapper {
        flex-direction: column;
        gap: 40px;
    }

    .newEventWrapper .leftFilters {
        max-width: 25%;
        border: 1px transparent;
    }

    .newEventWrapper .filterWrap {
        flex-direction: row;
        gap: 30px;
        overflow: auto;
    }

    .newRadioGroup {
        min-width: max-content;
    }

    .tab-mini-newevents .newEventWrapper .filterWrap {
        flex-direction: column;
        gap: 5px;
    }

    .tab-mini-newevents .newEventWrapper {
        flex-direction: row;
        gap: 20px;
    }

    .tab-mini-newevents .leftFilters {
        top: 17%;
    }

    .tab-mini-newevents .educationLinksBox .educationHeading {
        font-size: 13px;
    }

    .tab-mini-newevents .newEventsShowcase .newEventLabel {
        font-size: 12px !important;
    }

    .educationLinksBox .educationHeading {
        font-size: 16px;
    }

    .educationLinksBox .newEventLabel {
        font-size: 15px;
    }


    .newEventsShowcase .newEventLabel {
        font-size: 15px !important;
    }


    header.darkHeader {
        .mainMenu .megaMenus {
            gap: 20px;
        }

        .mainMenu .menuLogo {
            width: 15%
        }

        /* navbar on-click changes */
        .menudropdown {
            left: 10%;
        }

        #studentlife {
            left: 51%;
        }

        #innovation {
            left: 52%;
        }


    }

    .homePageImageVisibleTabView {
        display: block;
    }

    .tabViewHomePageIMageHIde {
        display: none;
    }

    .content-section .autoMinWidthTabView {
        overflow: auto;
    }

    .tablet_imageHomePage {
        display: block;
        width: 100%;
        height: 100%;

    }

    .fellowshipVideo .fellowshipVideoWrapper {
        flex-direction: column;
        gap: 40px;
        padding: 28px 40px;
        align-items: flex-start;
        max-width: 100%;
    }

    .fellowshipVideoWrapper .fellowshipLeft {
        max-width: 624px;
        gap: 16px;
    }

    .fellowshipVideoWrapper .headingWrap {
        width: 100%;
    }

    .investimgbox .contentWrap{
        padding: 20px;
    }
    .investimgbox .investimgboxWrap {
            bottom: -60%;
    }

    .teachingHeadWrap .headingWrap .sectionHeading {
        width: 100%;
        max-width: 68%;
    }

    .fellowshipVideoWrapper .headingWrap h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 130%;
    }

    .fellowshipVideoWrapper .fellowshipLeft .subText {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.36px;
    }

    .networkingbox .right {
        width: 55%;
    }

    .educationJourney .headingsLeft {
        width: 100%;
    }

    .inovation .careerPotential .educationJourney .boxwrapper {
        align-items: flex-start;
    }

    .gradientButton .iconButton {
        padding: 12px;
        font-size: 14px;
    }

    .gradientButton .iconButton svg {
        width: 18px;
    }

    .fellowshipVideoWrapper .fellowshipRight {
        max-width: 100%;
    }

    .getInto.fellowshipVideoWrapper .fellowshipRight {
        max-width: 70%;
    }

    .getInto.fellowshipVideoWrapper .fellowshipLeft {
        max-width: 100%;
    }

    .teachingDescriptionBox .teachingHeadWrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .menaSwipe .gradientButton{
        flex: 1;
     
      }

    .teachingHeadWrap .headingWrap {
        width: 100%;
        gap: 12px;
    }

    .teachingHeadWrap .teachingContent {
        width: 100%;
        gap: 8px;
    }

    .teachingContent li p {
        font-size: 13px;
        font-weight: 400;
        line-height: 160%;
        /* 20.8px */
    }

    .teachingContent::after {
        display: none;
    }

    .teachingContent.two::after {
        display: none;
    }

    .gradientUnderline::after {
        display: none;
    }

    .teachingwrapper .masterBox {
        min-width: 401px;
    }

    .tabViewHidden {
        display: none;
    }

    .tabViewOverflow {
        overflow: auto;
    }

    .headingWrapperButton {
        padding: 0;
    }

    .getprepped {
        background: url('assets/css/img/rectangleGradient');
    }

    .getprepped .getpreppedWrapper {
        flex-direction: column;
        padding: 0;
    }

    .getpreppedWrapper .box:nth-child(1) {
        width: 100%;
    }

    .getprepped .getpreppedWrapper .box:last-child {
        width: 100%;
    }

    .journey .content-section .contentWrap {
        flex-direction: column-reverse;
        gap: 16px;
    }

    .journey .content-section .contentWrap .contentLeft {
        max-width: 100%;
    }

    .headingWrapperButton .headingsLeft {
        width: 100%;
    }

    .programme-cards-wrapper .programme-cards {
        min-width: 67%;
    }

    .ugProgrammeButton {
        flex-direction: row;
        justify-content: space-between;
    }

    .recuiterWrap .flexWrapper .rightshift {
        width: 100% !important;
    }

    .beatingHearts .headingWrap {
        width: 50%;
    }

    .beatingWraps .mubuildingImg {
        max-width: 886px;
        height: 100%;
        max-height: 230px;
    }

    .beatingWraps .beatingRight {
        max-width: 100%;
    }

    .gridboxClubs .gridRight {
        max-width: 100%;
    }

    .opportunityWrapper .masterBox {
        max-width: 31%;
    }

    .bgHeroVideoWrap img {
        display: none;
    }

    .heroSection {
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
    }

    .heroLeft {
        width: 100%;
        position: absolute;
        /* top: 97px; */
    }

    .tabViewVideoWrapperHide {
        display: none;
    }

    .heroLeft .heroButtonWrap .muHeroLogos {
        display: none;
    }

    .getpreppedWrapper .box:last-child {
        padding: 40px 30px 0px 30px;

    }

    .contentLeft .buttonWrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .buttonWrapper .greyTag {
        padding: 17px 24px;
    }

    .beatingLeft {
        display: none;
    }

    .leftBeat .leftBeatingWrap {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .heroSection {
        min-height: 64vh;
    }

    .headingWrapperButton {
        padding: 0;
    }

    .opportunityWrapper.tab-rel {
        gap: 20px;
    }

    .tabViewLeftHIdeBTn .gradientBtnTabVIewHIde {
        display: none;
    }

    .headingWrapperButton .headingsRight {
        width: 57%;
    }

    .flexWrapper {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .beatingHearts .beatingWraps {
        display: flex;
        flex-direction: column;
    }

    .tabViewRight .gradientTabView {
        display: block;
    }

    .knowledgeHub .learningWrap {
        gap: 25px;
    }

    .learningWrap .learningLeft {
        max-width: 255px;
    }

    .learningWrap .learningRight {
        width: 75%;
    }

    .studentWrapperOne {
        max-width: 100%;
        width: 100%;
    }

    .tab-mini-homepage .beatingWraps {
        flex-direction: column;
        align-items: center;
    }

    .tabStuJourney {
        display: none;
    }

    .beatingWraps .beatingLeft {
        max-width: 100%;
    }

    .gridLeft {
        max-width: 100%;

    }

    .about .sustainLeft {
        max-width: 100%;
    }

    .sustainRight>img {
        display: block;
    }

    .sustainLeft {
        width: 100% !important;
    }

    .gridboxClubs {
        flex-direction: column;
    }

    .tab_visible {
        display: block;
    }

    .gridBox:first-child {
        max-width: unset;
        max-height: unset;
        flex: 1;
    }

    .gridBox:nth-child(2) {
        max-width: unset;
        max-height: unset;
        flex: 1;
        min-height: 299px;
    }

    .tab_hide_mastersUNion {
        display: none;
    }

    .tab_visible_mastersUNion {
        display: block;
    }

    .headingsLeft h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 36.4px;
    }

    .studentJourney .studentPercentageBox {
        max-width: 22%;
    }

    .heroLeftFooter .iconButton {
        padding: 16px 24px;
        font-size: 16px;
    }

    .iconButton svg {
        width: 24px;
        height: 24px;
    }

    .getpreppedList li p {
        font-size: 16px;
    }

    .leftBeatingWrap p {
        font-size: 16px;
    }

    .tab_hidden_diverse {
        display: none;
    }

    .contentWrap .masterImage {
        max-height: 267px;
    }

    .eventsMU .headingWrapperButton {
        gap: 0px;
    }

    .getprepped .getpreppedWrapper .sectionHeading {
        width: 52%;
    }

    .getprepped .getpreppedWrapper .innerbox {
        margin-top: 16px;
    }

    .beatingHearts .headingWrap .gradientBeforeVector {
        position: relative;
    }

    .beatingHearts .headingWrap .gradientBeforeVector::before {
        content: "";
        position: absolute;
        top: 64px;
        left: 5px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

    .headingWrapperButton .headingsLeft .alumniGradient {
        position: relative;
    }

    .headingWrapperButton .headingsLeft .alumniGradient::before {
        content: "";
        position: absolute;
        top: 25px;
        left: 320px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

    .headingsLeft.meetmasters .meetMasterGradient {
        position: relative;
    }

    .headingsLeft.meetmasters .meetMasterGradient::before {
        content: "";
        position: absolute;
        top: 24px;
        left: 127px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

    .teachingHeadWrap .headingWrap .learnBusinessGradient {
        position: relative;
    }

    .teachingHeadWrap .headingWrap .learnBusinessGradient::before {
        content: "";
        position: absolute;
        top: 66px;
        left: 303px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }


    /* about us section tab view */


    .herobanner .flexbox {
        flex-direction: column;
        gap: 0px;
    }

    .flexbox .aboutheroleft {
        width: 100%;
    }

    .aboutheroleft .abourherovid {
        left: 28%;
        top: -54px;
    }

    .herobanner .flexbox .tab-hide {
        display: none;
    }

    .tab-hide {
        display: none;
    }

    .newClassWrapper {
        flex-direction: column;

        .masterImage {
            max-width: 45%;
        }
    }

    .educationright {
        width: 100%;
    }

    .herobanner .flexbox .aboutheroright {
        width: 100%;
    }


    .flexbox .abouttimevid {
        width: 100%;
    }

    .black-bg .flexbox {
        flex-direction: column;
    }

    .black-bg .flexbox .timelinewrapper {
        width: 100%;
    }

    .timelinewrapper .timelineouter {
        max-width: 100%;
    }


    .newsWrapper .intheNewsSlider {
        width: 31%;
    }

    .black-bg .sticky {
        top: 4.2rem;
    }

    .tabVisible {
        display: block;
        width: 100%;
    }

    .sustainMapBoard {
        flex-direction: column;
        padding: 40px;
    }

    .sustainMapBoard .sustainRight {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .sustainability .flexbox {
        flex-direction: column;
        gap: 50px;
        ;
    }

    .leedScore .box {
        max-width: 100%;
    }

    .sustainability .flexbox .box {
        width: 100%;
    }

    .leedScore .sustaininner {
        width: 100%;
    }

    .sustainability .leedScore {
        padding: 40px 0 0;

    }

    .newEventDescp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 39.5px;
    }

    .newEventTimeNDate {
        flex-direction: column;
    }


    .tab-mini-newevent .newEventWrapper .leftFilters .lineDivider {
        display: none;
    }

    .alumniSpotlightWrap {
        flex-direction: column;
    }

    .alumniSpotlightWrap .alumniheroLeft {
        width: 100%;
    }

    .alumniSpotlightWrap .heroright {
        width: 100%;
    }

    .teachingHeadWrap.collaboration .headingWrap {
        width: 100%;
    }

    .blogsPage {

        .grid-event-container .newEventCard {
            max-width: 100%;
        }

        .filterWrap .newRadioGroup .lineDivider {
            display: none;
        }

        .grid-event-container {
            gap: 10px;
        }

        .loadMoreBlogswrap {
            margin-left: 0px;
        }
    }



    .journeyPart .medicalWrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .medicalWrap .medileft {
        width: 100%;
    }

    .medicalWrap .mediright {
        max-width: 100%;
    }

    .heroWrapper .right {
        width: 100%;
    }

    .heroWrapper .right .heroright {
        width: 100%;
    }

    .educationJourney .boxwrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .leftHead,
    .boxwrapper .left {
        width: 100% !important;
    }

    .degreeWrapper {
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
    }

    .degreeLeft {
        width: 100%;
    }

    .degreeLeft p {
        max-width: unset;
    }

    .degreeRight {
        width: 100%;
        max-width: 70%;
    }

    .educationJourney .boxwrapper .right {
        max-width: 80%;
        display: none;

    }

    .facultycardsWrapper .facultyCards .masterBox {
        height: 100%;
    }

    .facultycardsWrapper .facultyCards {
        width: 48%;
    }

    .educationJourney .boxwrapper .right .masterImage {
        max-height: 100%;
    }

    .highlightBanner {
        padding: 30px 0px;
    }

    .highlightBanner .boxWrapper .box .bannerText {
        font-size: 3rem;
    }

    .applynow .flexbox {
        flex-direction: column;
        gap: 40px;
    }

    .applynow .flexbox .applyleft {
        width: 100%;
    }

    .tabviewREgisterBox {
        min-width: 678px;
    }

    .rolesandresp .content-section {
        max-height: 100%;
        max-width: 100%;
    }

    .studentMainWrapper {
        flex-direction: column;
        gap: 30px;
    }

    .rateBox {
        padding-left: 108px;
    }

    .highlightsec .right {
        width: 100%;
    }

    .boxWrapper {
        flex-direction: column;
        gap: 88px;
    }

    .boxWrapper .left {
        max-height: 287px;
    }

    .highlightBanner .boxWrapper {
        flex-direction: row;
    }

    .bgBlackFlexWrap .headingBgblackWrap h2 {
        font-size: 2.875rem;

    }

    .cohort .flexbox {
        align-items: flex-start;
        width: 100%;
        gap: 40px;
        flex-direction: column;
    }

    .cohort .box {
        width: 100%;
    }

    .ctcsection .content-section {
        min-height: 301px;

    }

    .ctcCompontentWrap {
        width: 100%;
        flex-direction: column;
    }

    .ctcCompontentWrap .ctcCompLeftSide {
        max-width: 100%;
        padding: 0px 0 80px 40px;
    }

    .ctcCompLeftSide .textChohort {
        right: 39%;
    }

    .ctcCompontentWrap .ctcCompRightSide {
        max-width: 100%;
        padding: 80px 0 80px 40px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .pgphighlight .headingsLeft {
        width: 100%;
    }

    .careertransition .flexbox {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
    }

    .learningWrap {
        gap: 50px;
    }

    .careertransition .flexbox .transinner {
        width: 100%;
    }

    .careerjourney .headingWrap p {
        width: 100%;
    }

    .careerJourneyWrapper {
        flex-direction: column;
    }

    .careerjourney .content-section {
        max-height: 100%;
    }

    .industryTransitionTabView {
        display: flex;
        flex-direction: row !important;
    }

    .transinner:last-child .flexbox,
    .transbox {
        padding-left: 0px !important;
    }

    .transformativeCareerTabView {
        flex-direction: column;
    }

    .transformativeCareerTabView .investinFuture .navigationBox {
        max-width: 100%;
    }

    .transformativeCareerTabView .learningLeftTabView {
        max-width: 740px;
    }

    .learningLeftTabView .tabViewInnerBox {
        max-width: 100%;
    }

    .transformativeCareerTabView .learningRightTabView {
        width: 100%;
    }

    .learningRightTabView .box {
        width: 100%;
    }

    .careerJourneyWrapper .careerBox {
        max-width: 100%;
    }

    .careerJourneyWrapper .careerImgBox {
        max-width: 100%;
    }

    .careerJourneyWrapper .careerImgBox>img {
        width: 100%;
    }


    .bottomFooter {
        gap: 70px;
    }

}




@media (max-width: 767px) {
    .tab_visible {
        display: none;
    }

    .homePageImageVisibleTabView {
        display: none;
    }
}


